.materials {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: toRem(10) toRem(22);
    gap: toRem(50);

    &__item {
        width: 100%;
        display: grid;
        grid-template-areas:
            'info frame'
            'details details'
            'button button'
            'inner inner'
        ;

        grid-template-columns: 47.05% 52.95%;
        grid-template-rows: minmax(10px, min-content);
        grid-row-gap: toRem(20);
        align-items: stretch;
    }

    &__info {
        grid-area: info;
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        background-color: #EDF1F2;
    }

    &__docs {
        width: auto;
        @include flex-setting(column, flex-start, flex-start);

        padding: toRem(10) toRem(30) toRem(10) toRem(10);

        &-name {
            @include font-setting($roboto-cond, toRem(14), toRem(24), 700, #555859);
            text-align: left;
        }

        &-nr {
            @include font-setting($roboto-cond, toRem(28), toRem(48), 700, #555859);
        }
     }

    &__frame {
        grid-area: frame;
        width: 100%;
        height: 0;
        padding-bottom: 98.36065573770492%;
        position: relative;

        &-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }

    &__details {
        grid-area: details;
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
    }

    &__title {
        @include font-setting($roboto-cond, toRem(18), toRem(32), 700, #000);
        text-align: left;
        margin-bottom: toRem(10);
    }

    &__description {
        @include font-setting($roboto-cond, toRem(16), toRem(24), 400, #303233);
        text-align: left;
        margin-bottom: toRem(20);
    }

    &__expand {
        grid-area: button;
        @include flex-setting(column, center, center);
        width: auto;
        padding: toRem(11) toRem(64) toRem(11) toRem(32);
        @include font-setting($roboto-cond, toRem(16), toRem(24), 700, #040404);
        position: relative;
        background-color: #CED6D9;
        border: none;

        &::after {
            position: absolute;
            content: '';

            width: toRem(18);
            height: toRem(10);

            background-position: 50% 50%;
            background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.5L8.5 1.5L16 8.5' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;

            top: 50%;
            right: toRem(32);
            transform: translateY(-50%) rotate(180deg);
            transition: 0.2s $cubic;
        }

        &.active {
            &::after {
                transform: translateY(-50%) rotate(0deg);
                transition: 0.2s $cubic;
            }
            & ~ .materials__inner {
                display: flex;
            }
        }
    }

    &__inner {
        grid-area: inner;
        width: 100%;
        @include flex-setting(column, flex-start, center);

        display: none;

        &-list {
            width: 100%;
            @include flex-setting(column, flex-start, center);
            gap: toRem(20);
            margin-bottom: toRem(30);
        }

        &-item {
            width: 100%;
            display: grid;
            grid-template-columns: toRem(24) 1fr;
            grid-column-gap: toRem(16);

            padding: toRem(16) toRem(16);
            background-color: #EDF1F2;

            &[data-type="pptx"] {
                .materials__inner-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 37 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.6667 14.1413H31.1111V8.64822L21.8863 0H0V40H31.1111V34.4444H36.6667V14.1413ZM33.3333 31.1111H10V17.4748H33.3333V31.1111Z' fill='%23303233'/%3E%3Cpath d='M13.0761 24.9097H14.4575C14.726 24.9097 14.9726 24.8549 15.1974 24.7452C15.4221 24.6357 15.614 24.4904 15.7731 24.3095C15.932 24.1286 16.0553 23.9218 16.1431 23.6887C16.2306 23.4558 16.2746 23.2159 16.2746 22.9693C16.2746 22.7336 16.228 22.4994 16.1348 22.2663C16.0415 22.0333 15.9128 21.825 15.7483 21.6414C15.584 21.4578 15.3878 21.3098 15.1604 21.1974C14.933 21.085 14.6848 21.0288 14.4164 21.0288H11.9414V26.8666H13.0761V24.9097ZM13.0761 22.0237H14.3423C14.441 22.0237 14.5382 22.0443 14.6342 22.0854C14.73 22.1265 14.8136 22.1881 14.885 22.2703C14.9562 22.3525 15.0136 22.4526 15.0576 22.5704C15.1015 22.6884 15.1234 22.8211 15.1234 22.9691C15.1234 23.2598 15.0535 23.49 14.9137 23.6598C14.774 23.8298 14.6 23.9147 14.3916 23.9147H13.0761V22.0237Z' fill='%23303233'/%3E%3Cpath d='M18.1972 24.9097H19.5785C19.8471 24.9097 20.0937 24.8549 20.3185 24.7452C20.5432 24.6357 20.7349 24.4904 20.8941 24.3095C21.0531 24.1286 21.1764 23.9218 21.2641 23.6887C21.3517 23.4558 21.3957 23.2159 21.3957 22.9693C21.3957 22.7336 21.3491 22.4994 21.2558 22.2663C21.1626 22.0333 21.0338 21.825 20.8694 21.6414C20.7049 21.4578 20.5089 21.3098 20.2815 21.1974C20.0539 21.085 19.8059 21.0288 19.5374 21.0288H17.0625V26.8666H18.1972V24.9097ZM18.1972 22.0237H19.4633C19.5621 22.0237 19.6593 22.0443 19.7552 22.0854C19.8511 22.1265 19.9346 22.1881 20.0059 22.2703C20.0772 22.3525 20.1347 22.4526 20.1787 22.5704C20.2226 22.6884 20.2445 22.8211 20.2445 22.9691C20.2445 23.2598 20.1746 23.49 20.0348 23.6598C19.8951 23.8298 19.7209 23.9147 19.5127 23.9147H18.1972V22.0237Z' fill='%23303233'/%3E%3Cpath d='M23.5577 26.8666H24.6842V22.0237H26.5506V21.0288H21.6914V22.0237H23.5577V26.8666Z' fill='%23303233'/%3E%3Cpath d='M26.7063 26.8666H27.9397L29.3293 24.7781L30.7105 26.8666H31.9357L29.9213 23.9888L32.0015 21.0288H30.7763L29.3293 23.1995L27.8738 21.0288H26.6406L28.7207 23.9888L26.7063 26.8666Z' fill='%23303233'/%3E%3C/svg%3E");
                }
            }

            &[data-type="video"] {
                .materials__inner-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.97133 0 0 8.97219 0 20C0 31.0278 8.97133 40 20 40C31.0287 40 40 31.0278 40 20C40 8.97219 31.0287 0 20 0ZM27.9509 20.7007L16.2842 28.2007C16.1475 28.2894 15.9896 28.3334 15.8334 28.3334C15.6966 28.3334 15.5583 28.2991 15.4346 28.2316C15.166 28.0852 15 27.8052 15 27.5V12.5C15 12.1948 15.166 11.9148 15.4346 11.7684C15.6983 11.6235 16.0287 11.6324 16.2842 11.7993L27.9509 19.2993C28.1885 19.4523 28.3334 19.7168 28.3334 20C28.3334 20.2832 28.1885 20.5477 27.9509 20.7007Z' fill='%23303233'/%3E%3C/svg%3E");
                }
            }

            &[data-type="pic"] {
                .materials__inner-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.2317 16.4741C30.2237 16.4649 30.2161 16.4557 30.2084 16.4463C30.0223 16.217 29.782 16.1719 29.6555 16.1653C29.5289 16.1587 29.2853 16.1792 29.0767 16.3881L17.5355 27.9472C17.1052 28.3781 16.4176 28.41 15.9493 28.0211L11.0919 23.9877C10.806 23.7503 10.3932 23.7528 10.1105 23.9935C10.1069 23.9966 10.1034 23.9996 10.0996 24.0026L0 32.3904V34.8887C0 37.7071 2.2929 40 5.11134 40H34.8887C37.7071 40 40 37.707 40 34.8887V27.7732L30.2317 16.4741Z' fill='%23303233'/%3E%3Cpath d='M12.5904 7.27734C10.7571 7.27734 9.26562 8.76883 9.26562 10.602C9.26562 12.4352 10.7572 13.9267 12.5904 13.9267C14.4237 13.9267 15.9151 12.4352 15.9151 10.602C15.9151 8.76875 14.4237 7.27734 12.5904 7.27734Z' fill='%23303233'/%3E%3Cpath d='M34.8888 0H5.11134C2.29305 0 0 2.2929 0 5.11134V29.3277L8.5894 22.1941C9.74612 21.2148 11.4303 21.2061 12.597 22.175L16.6275 25.5219L27.4093 14.7234C28.0326 14.0993 28.8961 13.7675 29.7761 13.8123C30.6503 13.8571 31.4686 14.2698 32.0245 14.9452L39.9999 24.1705V5.11134C40.0001 2.2929 37.707 0 34.8888 0ZM12.5917 16.2829C9.45932 16.2829 6.91095 13.7346 6.91095 10.6022C6.91095 7.46986 9.45948 4.9215 12.5917 4.9215C15.7242 4.9215 18.2725 7.46994 18.2725 10.6022C18.2725 13.7346 15.7242 16.2829 12.5917 16.2829Z' fill='%23303233'/%3E%3C/svg%3E%0A");
                }
            }

            &[data-type="pdf"] {
                .materials__inner-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='29' height='40' viewBox='0 0 29 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40H28.5714V28.0952H0V40ZM18.6913 31.0928H22.8227V32.327H20.097V33.6385H22.3427V34.7785H20.097V37.1785H18.6913V31.0928ZM12.1257 31.0928H14.3971C14.8999 31.0928 15.34 31.1728 15.7171 31.3328C16.0942 31.4928 16.4099 31.71 16.6642 31.9843C16.9184 32.2585 17.11 32.58 17.2386 32.9485C17.3672 33.3171 17.4314 33.7101 17.4314 34.1271C17.4314 34.5899 17.3599 35.0086 17.2171 35.3829C17.0742 35.7572 16.87 36.0771 16.6042 36.3429C16.3385 36.6085 16.0184 36.8142 15.6442 36.96C15.27 37.1057 14.8542 37.1785 14.3971 37.1785H12.1257V31.0928ZM6.35722 31.0928H8.95436C9.24579 31.0928 9.51283 31.1527 9.75579 31.2728C9.99855 31.3928 10.2071 31.5501 10.3815 31.7443C10.5558 31.9385 10.6929 32.1586 10.7929 32.4043C10.8928 32.65 10.9429 32.8985 10.9429 33.15C10.9429 33.4185 10.8958 33.6758 10.8015 33.9214C10.7072 34.1671 10.5757 34.3872 10.4072 34.5814C10.2385 34.7758 10.0344 34.9301 9.79436 35.0442C9.55436 35.1586 9.28864 35.2157 8.99722 35.2157H7.76293V37.1785H6.35722V31.0928Z' fill='%23303233'/%3E%3Cpath d='M9.33886 33.7757C9.45886 33.6329 9.51886 33.4243 9.51886 33.15C9.51886 33.0072 9.50029 32.8843 9.46314 32.7814C9.4259 32.6786 9.3759 32.593 9.31314 32.5243C9.25019 32.4557 9.17886 32.4058 9.09886 32.3744C9.01876 32.343 8.93886 32.3271 8.85886 32.3271H7.76172V33.9901H8.91029C9.076 33.99 9.21895 33.9186 9.33886 33.7757Z' fill='%23303233'/%3E%3Cpath d='M20.4766 1.42847V8.09512H27.1432L20.4766 1.42847Z' fill='%23303233'/%3E%3Cpath d='M17.619 10.9524V0H0V25.238H28.5714V10.9524H17.619Z' fill='%23303233'/%3E%3Cpath d='M15.0827 35.8071C15.2827 35.7158 15.4497 35.5886 15.5841 35.4256C15.7183 35.2628 15.8211 35.0714 15.8927 34.8514C15.9641 34.6314 15.9998 34.39 15.9998 34.1271C15.9998 33.8587 15.9641 33.6143 15.8927 33.3943C15.8211 33.1744 15.717 32.9843 15.5798 32.8244C15.4427 32.6645 15.2741 32.5414 15.0741 32.4558C14.874 32.3701 14.6483 32.3271 14.397 32.3271H13.5312V35.9443H14.397C14.6541 35.9442 14.8826 35.8986 15.0827 35.8071Z' fill='%23303233'/%3E%3C/svg%3E");
                }
            }

            &[data-type="doc"] {
                .materials__inner-icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 37 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2188 6.45849H30.6191L24.2188 0.0617676V6.45849Z' fill='%23303233'/%3E%3Cpath d='M3.82813 35.1405V14.3229H30.6771V8.80211H21.875V0H0V40H30.6771V35.1405H3.82813ZM15.3385 11.1719H7.74742V8.82812H15.3386V11.1719H15.3385Z' fill='%23303233'/%3E%3Cpath d='M12.8329 22.9744H12.3477C12.3487 23.6311 12.3498 24.3844 12.3498 24.7252C12.3498 25.126 12.3517 25.8526 12.3536 26.4821C12.5523 26.4805 12.7348 26.4785 12.861 26.4763C13.6664 26.4623 14.0269 25.5899 14.0269 24.7316C14.0269 24.2033 13.9105 22.9744 12.8329 22.9744Z' fill='%23303233'/%3E%3Cpath d='M21.6396 22.885C20.6213 22.885 19.793 23.7134 19.793 24.7317C19.793 25.7499 20.6214 26.5783 21.6396 26.5783C22.6578 26.5783 23.4862 25.7499 23.4862 24.7317C23.4862 23.7134 22.6578 22.885 21.6396 22.885Z' fill='%23303233'/%3E%3Cpath d='M6.17188 16.6665V32.7965H36.6666V16.6665H6.17188ZM12.8653 28.8436C12.3308 28.8436 10.0162 28.8371 10.0162 28.8371L9.99789 20.6306H12.8312C14.9141 20.6306 16.3689 22.317 16.3689 24.7317C16.3688 27.0652 14.8752 28.8085 12.8653 28.8436ZM21.6402 28.922C19.3296 28.922 17.4498 27.0422 17.4498 24.7316C17.4498 22.421 19.3297 20.5412 21.6402 20.5412C23.9508 20.5412 25.8306 22.421 25.8306 24.7316C25.8305 27.0421 23.9508 28.922 21.6402 28.922ZM33.403 21.2575L32.091 23.1996C31.7863 22.9937 31.4295 22.8849 31.0594 22.8849C30.0411 22.8849 29.2127 23.7132 29.2127 24.7315C29.2127 25.7498 30.0411 26.5781 31.0594 26.5781C31.421 26.5781 31.9173 26.354 32.0632 26.1448L33.8588 27.651C33.7465 27.7849 33.6243 27.911 33.4955 28.0256C32.8371 28.6121 31.9947 28.9219 31.0594 28.9219C28.7488 28.9219 26.869 27.0421 26.869 24.7315C26.869 22.421 28.7488 20.5411 31.0594 20.5411C31.899 20.5412 32.7094 20.7889 33.403 21.2575Z' fill='%23303233'/%3E%3C/svg%3E");
                }
            }
        }

        &-icon {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            width: toRem(24);
            height: toRem(24);
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: toRem(8);
        }

        &-description {
            grid-column: 2 / 3;
            grid-row: 1 / 3;

            @include font-setting($roboto-cond, toRem(16), toRem(24), 400, #303233);
            text-align: left;
        }

        &-download {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            @include flex-setting(column, center, center);
            width: toRem(24);
            height: toRem(24);
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='41' height='41' viewBox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 0C9.17815 0 0 9.17815 0 20.5C0 31.8218 9.17815 41 20.5 41C31.8218 41 41 31.8218 41 20.5C41 9.17815 31.8218 0 20.5 0ZM19.2188 11.5312C19.2188 10.8236 19.7924 10.25 20.5 10.25C21.2077 10.25 21.7812 10.8236 21.7812 11.5312V18.5781C21.7812 19.2858 21.2077 19.8594 20.5 19.8594C19.7924 19.8594 19.2188 19.2858 19.2188 18.5781V11.5312ZM13.8285 18.3127C14.3288 17.8123 15.14 17.8123 15.6404 18.3127L20.5 23.1724L25.3597 18.3128C25.86 17.8124 26.6713 17.8124 27.1716 18.3128C27.672 18.8132 27.672 19.6244 27.1716 20.1248L21.406 25.8904C20.9057 26.3907 20.0944 26.3908 19.5941 25.8904L13.8285 20.1248C13.328 19.6243 13.328 18.8132 13.8285 18.3127ZM28.1875 30.75H12.8125C12.1049 30.75 11.5312 30.1764 11.5312 29.4688C11.5312 28.7611 12.1049 28.1875 12.8125 28.1875H28.1875C28.8952 28.1875 29.4688 28.7611 29.4688 29.4688C29.4688 30.1764 28.8952 30.75 28.1875 30.75Z' fill='%23303233'/%3E%3C/svg%3E");
        }

        &-expand {
            position: relative;
            @include flex-setting(column, center, center);
            @include font-setting($roboto-cond, toRem(16), toRem(24), 400, $black);
            border: none;
            background-color: transparent;
            padding: 0;
            padding-right: toRem(36);

            &::after {
                position: absolute;
                content: '';

                width: toRem(18);
                height: toRem(10);

                background-position: 50% 50%;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.5L8.5 1.5L16 8.5' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;

                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}

@include min-screen(1366px) {
    .materials {
        padding: 0;
        gap: toRem(60);

        &__item {
            grid-template-areas:
                'info frame details'
                'info frame details'
                'info frame button'
                'inner inner inner'
            ;

            grid-template-columns: toRem(180) toRem(370) 1fr;
            grid-column-gap: toRem(0);
            grid-row-gap: toRem(40);
        }

        &__info {
            padding: toRem(50) toRem(15) toRem(50) toRem(15);
        }

        &__docs {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0;

            &-name {
                font-size: toRem(16);
            }

            &-nr {
                font-size: toRem(48);
            }
         }

        &__frame {
            padding-bottom: 81.08108108108108%;
        }

        &__details {
            margin-left: toRem(0);
            padding-left: toRem(30);
            position: relative;
        }

        &__title {
            font-size: toRem(24);
            line-height: toRem(32);
            margin-bottom: toRem(20);
        }

        &__description {
            font-size: toRem(16);
            line-height: toRem(24);
            margin-bottom: toRem(40);
        }

        &__expand {
            width: auto;
            max-width: toRem(280);
            cursor: pointer;
            margin-left: toRem(30);
        }

        &__inner {
            &-list {
                gap: toRem(30);
            }

            &-item {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: toRem(24) toRem(24);

                &[data-type="pptx"] {
                    .materials__inner-icon {
                        background-image: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 37 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.6667 14.1413H31.1111V8.64822L21.8863 0H0V40H31.1111V34.4444H36.6667V14.1413ZM33.3333 31.1111H10V17.4748H33.3333V31.1111Z' fill='%23303233'/%3E%3Cpath d='M13.0761 24.9097H14.4575C14.726 24.9097 14.9726 24.8549 15.1974 24.7452C15.4221 24.6357 15.614 24.4904 15.7731 24.3095C15.932 24.1286 16.0553 23.9218 16.1431 23.6887C16.2306 23.4558 16.2746 23.2159 16.2746 22.9693C16.2746 22.7336 16.228 22.4994 16.1348 22.2663C16.0415 22.0333 15.9128 21.825 15.7483 21.6414C15.584 21.4578 15.3878 21.3098 15.1604 21.1974C14.933 21.085 14.6848 21.0288 14.4164 21.0288H11.9414V26.8666H13.0761V24.9097ZM13.0761 22.0237H14.3423C14.441 22.0237 14.5382 22.0443 14.6342 22.0854C14.73 22.1265 14.8136 22.1881 14.885 22.2703C14.9562 22.3525 15.0136 22.4526 15.0576 22.5704C15.1015 22.6884 15.1234 22.8211 15.1234 22.9691C15.1234 23.2598 15.0535 23.49 14.9137 23.6598C14.774 23.8298 14.6 23.9147 14.3916 23.9147H13.0761V22.0237Z' fill='%23303233'/%3E%3Cpath d='M18.1972 24.9097H19.5785C19.8471 24.9097 20.0937 24.8549 20.3185 24.7452C20.5432 24.6357 20.7349 24.4904 20.8941 24.3095C21.0531 24.1286 21.1764 23.9218 21.2641 23.6887C21.3517 23.4558 21.3957 23.2159 21.3957 22.9693C21.3957 22.7336 21.3491 22.4994 21.2558 22.2663C21.1626 22.0333 21.0338 21.825 20.8694 21.6414C20.7049 21.4578 20.5089 21.3098 20.2815 21.1974C20.0539 21.085 19.8059 21.0288 19.5374 21.0288H17.0625V26.8666H18.1972V24.9097ZM18.1972 22.0237H19.4633C19.5621 22.0237 19.6593 22.0443 19.7552 22.0854C19.8511 22.1265 19.9346 22.1881 20.0059 22.2703C20.0772 22.3525 20.1347 22.4526 20.1787 22.5704C20.2226 22.6884 20.2445 22.8211 20.2445 22.9691C20.2445 23.2598 20.1746 23.49 20.0348 23.6598C19.8951 23.8298 19.7209 23.9147 19.5127 23.9147H18.1972V22.0237Z' fill='%23303233'/%3E%3Cpath d='M23.5577 26.8666H24.6842V22.0237H26.5506V21.0288H21.6914V22.0237H23.5577V26.8666Z' fill='%23303233'/%3E%3Cpath d='M26.7063 26.8666H27.9397L29.3293 24.7781L30.7105 26.8666H31.9357L29.9213 23.9888L32.0015 21.0288H30.7763L29.3293 23.1995L27.8738 21.0288H26.6406L28.7207 23.9888L26.7063 26.8666Z' fill='%23303233'/%3E%3C/svg%3E");
                    }
                }

                &[data-type="video"] {
                    .materials__inner-icon {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C8.97133 0 0 8.97219 0 20C0 31.0278 8.97133 40 20 40C31.0287 40 40 31.0278 40 20C40 8.97219 31.0287 0 20 0ZM27.9509 20.7007L16.2842 28.2007C16.1475 28.2894 15.9896 28.3334 15.8334 28.3334C15.6966 28.3334 15.5583 28.2991 15.4346 28.2316C15.166 28.0852 15 27.8052 15 27.5V12.5C15 12.1948 15.166 11.9148 15.4346 11.7684C15.6983 11.6235 16.0287 11.6324 16.2842 11.7993L27.9509 19.2993C28.1885 19.4523 28.3334 19.7168 28.3334 20C28.3334 20.2832 28.1885 20.5477 27.9509 20.7007Z' fill='%23303233'/%3E%3C/svg%3E");
                    }
                }

                &[data-type="pic"] {
                    .materials__inner-icon {
                        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.2317 16.4741C30.2237 16.4649 30.2161 16.4557 30.2084 16.4463C30.0223 16.217 29.782 16.1719 29.6555 16.1653C29.5289 16.1587 29.2853 16.1792 29.0767 16.3881L17.5355 27.9472C17.1052 28.3781 16.4176 28.41 15.9493 28.0211L11.0919 23.9877C10.806 23.7503 10.3932 23.7528 10.1105 23.9935C10.1069 23.9966 10.1034 23.9996 10.0996 24.0026L0 32.3904V34.8887C0 37.7071 2.2929 40 5.11134 40H34.8887C37.7071 40 40 37.707 40 34.8887V27.7732L30.2317 16.4741Z' fill='%23303233'/%3E%3Cpath d='M12.5904 7.27734C10.7571 7.27734 9.26562 8.76883 9.26562 10.602C9.26562 12.4352 10.7572 13.9267 12.5904 13.9267C14.4237 13.9267 15.9151 12.4352 15.9151 10.602C15.9151 8.76875 14.4237 7.27734 12.5904 7.27734Z' fill='%23303233'/%3E%3Cpath d='M34.8888 0H5.11134C2.29305 0 0 2.2929 0 5.11134V29.3277L8.5894 22.1941C9.74612 21.2148 11.4303 21.2061 12.597 22.175L16.6275 25.5219L27.4093 14.7234C28.0326 14.0993 28.8961 13.7675 29.7761 13.8123C30.6503 13.8571 31.4686 14.2698 32.0245 14.9452L39.9999 24.1705V5.11134C40.0001 2.2929 37.707 0 34.8888 0ZM12.5917 16.2829C9.45932 16.2829 6.91095 13.7346 6.91095 10.6022C6.91095 7.46986 9.45948 4.9215 12.5917 4.9215C15.7242 4.9215 18.2725 7.46994 18.2725 10.6022C18.2725 13.7346 15.7242 16.2829 12.5917 16.2829Z' fill='%23303233'/%3E%3C/svg%3E%0A");
                    }
                }

                &[data-type="pdf"] {
                    .materials__inner-icon {
                        background-image: url("data:image/svg+xml,%3Csvg width='29' height='40' viewBox='0 0 29 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40H28.5714V28.0952H0V40ZM18.6913 31.0928H22.8227V32.327H20.097V33.6385H22.3427V34.7785H20.097V37.1785H18.6913V31.0928ZM12.1257 31.0928H14.3971C14.8999 31.0928 15.34 31.1728 15.7171 31.3328C16.0942 31.4928 16.4099 31.71 16.6642 31.9843C16.9184 32.2585 17.11 32.58 17.2386 32.9485C17.3672 33.3171 17.4314 33.7101 17.4314 34.1271C17.4314 34.5899 17.3599 35.0086 17.2171 35.3829C17.0742 35.7572 16.87 36.0771 16.6042 36.3429C16.3385 36.6085 16.0184 36.8142 15.6442 36.96C15.27 37.1057 14.8542 37.1785 14.3971 37.1785H12.1257V31.0928ZM6.35722 31.0928H8.95436C9.24579 31.0928 9.51283 31.1527 9.75579 31.2728C9.99855 31.3928 10.2071 31.5501 10.3815 31.7443C10.5558 31.9385 10.6929 32.1586 10.7929 32.4043C10.8928 32.65 10.9429 32.8985 10.9429 33.15C10.9429 33.4185 10.8958 33.6758 10.8015 33.9214C10.7072 34.1671 10.5757 34.3872 10.4072 34.5814C10.2385 34.7758 10.0344 34.9301 9.79436 35.0442C9.55436 35.1586 9.28864 35.2157 8.99722 35.2157H7.76293V37.1785H6.35722V31.0928Z' fill='%23303233'/%3E%3Cpath d='M9.33886 33.7757C9.45886 33.6329 9.51886 33.4243 9.51886 33.15C9.51886 33.0072 9.50029 32.8843 9.46314 32.7814C9.4259 32.6786 9.3759 32.593 9.31314 32.5243C9.25019 32.4557 9.17886 32.4058 9.09886 32.3744C9.01876 32.343 8.93886 32.3271 8.85886 32.3271H7.76172V33.9901H8.91029C9.076 33.99 9.21895 33.9186 9.33886 33.7757Z' fill='%23303233'/%3E%3Cpath d='M20.4766 1.42847V8.09512H27.1432L20.4766 1.42847Z' fill='%23303233'/%3E%3Cpath d='M17.619 10.9524V0H0V25.238H28.5714V10.9524H17.619Z' fill='%23303233'/%3E%3Cpath d='M15.0827 35.8071C15.2827 35.7158 15.4497 35.5886 15.5841 35.4256C15.7183 35.2628 15.8211 35.0714 15.8927 34.8514C15.9641 34.6314 15.9998 34.39 15.9998 34.1271C15.9998 33.8587 15.9641 33.6143 15.8927 33.3943C15.8211 33.1744 15.717 32.9843 15.5798 32.8244C15.4427 32.6645 15.2741 32.5414 15.0741 32.4558C14.874 32.3701 14.6483 32.3271 14.397 32.3271H13.5312V35.9443H14.397C14.6541 35.9442 14.8826 35.8986 15.0827 35.8071Z' fill='%23303233'/%3E%3C/svg%3E");
                    }
                }

                &[data-type="doc"] {
                    .materials__inner-icon {
                        background-image: url("data:image/svg+xml,%3Csvg width='37' height='40' viewBox='0 0 37 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.2188 6.45849H30.6191L24.2188 0.0617676V6.45849Z' fill='%23303233'/%3E%3Cpath d='M3.82813 35.1405V14.3229H30.6771V8.80211H21.875V0H0V40H30.6771V35.1405H3.82813ZM15.3385 11.1719H7.74742V8.82812H15.3386V11.1719H15.3385Z' fill='%23303233'/%3E%3Cpath d='M12.8329 22.9744H12.3477C12.3487 23.6311 12.3498 24.3844 12.3498 24.7252C12.3498 25.126 12.3517 25.8526 12.3536 26.4821C12.5523 26.4805 12.7348 26.4785 12.861 26.4763C13.6664 26.4623 14.0269 25.5899 14.0269 24.7316C14.0269 24.2033 13.9105 22.9744 12.8329 22.9744Z' fill='%23303233'/%3E%3Cpath d='M21.6396 22.885C20.6213 22.885 19.793 23.7134 19.793 24.7317C19.793 25.7499 20.6214 26.5783 21.6396 26.5783C22.6578 26.5783 23.4862 25.7499 23.4862 24.7317C23.4862 23.7134 22.6578 22.885 21.6396 22.885Z' fill='%23303233'/%3E%3Cpath d='M6.17188 16.6665V32.7965H36.6666V16.6665H6.17188ZM12.8653 28.8436C12.3308 28.8436 10.0162 28.8371 10.0162 28.8371L9.99789 20.6306H12.8312C14.9141 20.6306 16.3689 22.317 16.3689 24.7317C16.3688 27.0652 14.8752 28.8085 12.8653 28.8436ZM21.6402 28.922C19.3296 28.922 17.4498 27.0422 17.4498 24.7316C17.4498 22.421 19.3297 20.5412 21.6402 20.5412C23.9508 20.5412 25.8306 22.421 25.8306 24.7316C25.8305 27.0421 23.9508 28.922 21.6402 28.922ZM33.403 21.2575L32.091 23.1996C31.7863 22.9937 31.4295 22.8849 31.0594 22.8849C30.0411 22.8849 29.2127 23.7132 29.2127 24.7315C29.2127 25.7498 30.0411 26.5781 31.0594 26.5781C31.421 26.5781 31.9173 26.354 32.0632 26.1448L33.8588 27.651C33.7465 27.7849 33.6243 27.911 33.4955 28.0256C32.8371 28.6121 31.9947 28.9219 31.0594 28.9219C28.7488 28.9219 26.869 27.0421 26.869 24.7315C26.869 22.421 28.7488 20.5411 31.0594 20.5411C31.899 20.5412 32.7094 20.7889 33.403 21.2575Z' fill='%23303233'/%3E%3C/svg%3E");
                    }
                }
            }

            &-icon {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                width: toRem(40);
                height: toRem(40);
                margin-top: 0;
                margin-right: toRem(48);
            }

            &-description {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                max-width: toRem(720);
            }

            &-download {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                width: toRem(40);
                height: toRem(40);
                margin-left: auto;
                margin-right: 0;
            }

            &-expand {
                position: relative;
                @include flex-setting(column, center, center);
                @include font-setting($roboto-cond, toRem(16), toRem(24), 400, $black);
                border: none;
                background-color: transparent;
                padding: 0;
                padding-right: toRem(36);
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: '';

                    width: toRem(18);
                    height: toRem(10);

                    background-position: 50% 50%;
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 8.5L8.5 1.5L16 8.5' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: contain;

                    top: 50%;
                    right: 0;
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
}
